{% extends 'base.html' %}

{% block title %}
  | Post Page
{% endblock %}

{% block content %}
  <section class="m-5">
    <h4>Post New</h4>
    {% comment %} multipart/form-data is necessary to be added for dealing with files or images {% endcomment %}
    <form action="{% url 'posts:post_new' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <button class="btn btn-sm bg-primary text-white mt-5">Add Post</button>
    </form>
  </section>
{% endblock %}

