{% extends 'base.html' %}

{% block title %}
  | Posts Page
{% endblock %}

{% block content %}
  <section>
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="">This is Posts List 📫</h1>
      <a href="{% url 'posts:post_new' %}" class="btn btn-sm bg-success text-white">+ New Post</a>
    </div>
    <div class="d-flex">
      {% for post in posts %}
        <div class="card m-3" style="width: 18rem;">
          {% comment %} <img src="..." class="card-img-top" alt="..." /> {% endcomment %}
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text" style="display: inline-block; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ post.body }}</p>
            <a href="{% url 'posts:page' slug=post.slug %}" class="btn btn-primary">Read more</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
